@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

.container{
    margin:0 auto;
    padding:0 15px;
    width:1200px;
}

.nav{
    background-color: #171718;
    color:white;
    padding:20px 0;
}

.nav_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color:white;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.nav_list{
    display: flex;
    gap:40px;
}

.nav_list-item a{
    display: inline-block;
    padding-bottom: 6px;
    font-weight: 500;
    color:white;
    font-family: 'Poppins', sans-serif;
}   


.nav_list-item:hover{
    border-bottom: 3px solid purple;
}

.header{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #171718;
    background-image: url(../img/header.svg);
    min-height: 695px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    padding:35px 0;
    text-align: center;
}



.header_title strong{
    font-weight:700;
    font-size: 60px;
    color:white;
    font-family: 'DM Sans', sans-serif;
}

.header_title strong span{
    color: #5C62EC;
}

.header_title em{
    font-size: 40px;
    font-weight: 700;
    color:white;
    font-family: 'DM Sans', sans-serif;
}

.header_text{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color:white;
    margin-top: 20px;
}

.header_btn{
    display: inline-block;
    margin-top: 52px;
    background-color: #5C62EC;
    padding:12px 28px;
    color:white;
    font-family: 'DM Sans', sans-serif;
}

.section_title{
    font-size: 60px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    color: #5C62EC;
    margin-top: 70px;
    text-align: center;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 60px;
}

.project{
    max-width: 370px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.project_img{
    border-radius: 10px;
}

.project-title{
    font-size: 24px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    padding: 15px 20px 25px;
}

.footer{
    background-color: #171718;
    padding:60px 0 50px;
    margin-top: 70px;
  }
  
  .footer-wrapper{
    display: flex;
    align-items: center;
    gap:30px;
    flex-direction: column;
  }
  
  .socials{
    display: flex;
    gap:30px;
    align-items: center;
  }
  
  .footer-text{
    color:white;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
  }